<!-- Plantilla -->
{% extends 'base.html' %}

<!-- Titulo -->
{% block title %} Actualizar empleado {% endblock title %}

<!-- Contenido -->
{% block content %}

<!-- Header  -->
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h2 class="cell">
            Actualizar Datos del Empleado
        </h2>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST">
                {% csrf_token %}
                <div class="cell large-6 ">
                    <label>Nombres:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="cell large-6 ">
                    <label>Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Trabajo:
                        {{ form.job }}
                    </label>
                </div>
                <div class="cell large-6">
                    <label>Area
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="cell">
                    <label>Habilidades extras:
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="cell">
                    <button type="submit" class="primary button">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}